@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    scroll-behavior: smooth; /* Smooth scroll */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }

  body:has(#modal) {
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
  opacity: 0; /* Start invisible */
}
